.red {
    color: firebrick !important;
}

.yellow {
    color: gold !important;
}


/************x*******
  *contents
  ********************/

@media (max-width: 767px) {
    /* .wrapp {} */
    .content__wrapp {
        background-color: white;
        overflow: scroll;
    }
}

@media (min-width: 768px) {
    /* .wrapp {} */
    .content__wrapp {
        box-shadow: -2px 10px 10px rgb(25, 62, 73);
        max-height: 95%;
        max-width: 100%;
        margin: auto;
        margin-top: 24px;
        border: #486c00 0.5px solid;
        background-color: white;
        overflow-y: scroll;
    }
}


/*******************
  *nav
  ********************/

.link__bottum {
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin: 20px auto;
    padding: 5px;
    background-image: url(/img/sample4.jpg)
}

@media (min-width: 768px) {
    .nav-header__size {
        height: 100vh;
    }
    .nav__menu {
        border: 2px dotted;
        border-color: aliceblue
    }
    .nav__logo {
        width: 100%;
        height: auto;
        margin: 40px 0px;
    }
    #bargar {
        display: none
    }
}

@media (max-width: 767px) {
    .nav-header__size {
        height: 50px;
    }
    .nav__menu {
        display: none
    }
    .nav__logo {
        width: 75%;
        height: auto;
        margin: 10px;
    }
    #bargar {
        color: aliceblue;
        padding: 5px;
    }
}

.nav__menu--ul li a {
    color: white;
}

.global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-nav__item {
    text-align: center;
    padding: 0 14px;
}

.global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid red;
    text-decoration: none;
    z-index: 500;
    color: #111;
}

.global-nav__item a:hover {
    color: #eee;
}

.global-nav {
    display: none;
    position: fixed;
    /* right: -320px; */
    top: 50px;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
}

.global-nav .global-nav__item {
    display: none;
}

.bargar__line {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: aliceblue;
    transition: all .6s;
}

.bargar__line--1 {
    top: 12px;
}

.bargar__line--2 {
    top: 24px;
}

.bargar__line--3 {
    top: 36px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

.bargar .global-nav {
    display: block !important;
    z-index: 101;
    color: #E3EFF9
}

.bargar .black-bg {
    opacity: .8;
    visibility: visible;
}

.bargar .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.bargar .hamburger__line--2 {
    width: 0;
    left: 50%;
}

.bargar .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

li {
    list-style: none;
}

.bg-blue {
    background-color: #25374A;
}

.text-white {
    color: gainsboro;
}


/*******************
  *box-js
  ********************/

.box {
    width: 12.5%;
    height: auto;
    background: skyblue;
    cursor: pointer;
    transition: 0.8s;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 100px;
}

.win {
    background-image: url(/img/arthgame.jpeg);
    background-position: center;
    border-radius: 50%;
    transform: rotateX(2880deg);
    color: antiquewhite;
    font-weight: 700;
}

.lose {
    background: gray;
    border-radius: 50%;
    transform: scale(0.7);
}


/*******************
  *calendar
  ********************/

.days {
    min-width: 150px;
    color: black;
}

.holiday {
    min-width: 150px;
    color: red;
}

.differentMonth a {
    background-color: #E3EFF9;
    min-width: 150px;
    color: gray !important;
}

th {
    min-width: 150px;
}

.link {
    font-size: 30px
}

.awesomeStyle {
    font-size: 55px;
    color: gray;
    cursor: pointer;
}

.bugs {
    color: pink !important;
    transform: scale(1.7) !important;
}

.bugbox {
    height: 55px;
    width: 55px;
}


/*******************
  *Vue.js todo
  ********************/

#app .fuu {
    height: 40vh;
    border-bottom: 1px dotted #ddd;
}

#app h1 {
    font-size: 16px;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    padding: 16px;
}

#app li {
    line-height: 1.5;
}

#app li>span.done {
    line-height: 1.5;
    text-decoration: line-through;
    color: #bbb;
}

#app input[type="text"] {
    padding: 5px;
    border: 1px black dotted;
    border-radius: 15px;
}

.deleteItem {
    cursor: pointer;
    font-size: 10px;
    color: blueviolet;
}

.info {
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
}


/***Mojule****/

.linkbottom {
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #50B8D9;
    border-style: none;
    /*ボタン色*/
    box-shadow: 3px 3px 1px rgb(25, 62, 73);
    /*影を小さく*/
    border-radius: 3px;
}

.linkbottom i {
    vertical-align: center;
    text-align: center;
    font-size: 1rem;
}

.linkbottom:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(2px);
    /*下に動く*/
    box-shadow: 1px 1px 1px rgb(25, 62, 73);
    /*影を小さく*/
    border-bottom: none;
}


/************x*******
  *projects
  ********************/


/***ADMIN****/

.content__wrapp .admin__title {
    text-align: center;
    margin: 15px;
}

.content__wrapp table {
    width: 99%;
    margin: 10px;
}

.admin__thead {
    background-color: #3A4B5E;
}

.admin__thead th {
    color: whitesmoke;
    padding: 10px 0;
    padding-left: 15px;
    text-align: center;
}

.admin-projects__item--basic td {
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    word-break: break-all;
    border: 1px solid #25374A;
    padding: 10px;
    overflow: scroll;
    max-width: 180px;
    /* ~longText~... */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
}


/***READ****/

.buttom_box div {
    margin: auto 5px;
}


/***CREATE****/

.create__input--basic {
    height: 85%
}

.require-box {
    height: 70vh;
    overflow-y: scroll;
    padding: 15px;
    border: 1px solid black;
}

.require-box h4 {
    margin: 10px 0;
    font-weight: bold;
}

.require-box label {
    margin: 10px 0;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: #25374A 1px dotted;
}


/***EDIT****/

.projectEdit__row {
    display: flex !important;
}


/***SPA TOP****/

.tab__item {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.tab__item--active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*影を小さく*/
    border-bottom: none;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*影を小さく*/
    border-bottom: none;
}


/************x*******
  *admin--modal
  ********************/

#open,
#open-test,
#close,
#close-test {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: #4caf50;
    color: white;
}

#mask,
#mask-test {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#modal {
    background: #fff;
    color: #555;
    width: 430px;
    padding: 40px;
    border-radius: 4px;
    position: absolute;
    top: -240px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    transition: 0.4s;
}

#modal p,
#modal-test p {
    margin: 0 0 20px;
}

#mask.hidden,
#mask-test.hidden-test {
    display: none;
}

#modal.hidden,
#modal-test.hidden-test {
    transform: translate(0, -500px);
}


/************x*******
  *shadowbox
  ********************/

.sample-shadowbox {
    display: block;
    max-height: 50px;
    max-width: 100px;
    overflow: scroll;
}

.img-sizing {
    max-height: 50px;
    max-width: 200px
}
