<template>
  <div class="container--small">
    <!-- きりかえbutton -->
    <ul class="tab">
      <li class="tab__item" :class="{'tab__item--active':tab === 1}" @click="tab = 1 ">Login</li>
      <li class="tab__item" :class="{'tab__item--active':tab === 2}" @click="tab = 2 ">Register</li>
    </ul>

    <!-- {{ Logintab }} -->
    <div class="panel" v-show="tab === 1 ">
      <h1 style="height:100px">Login</h1>
      <form class="form" @submit.prevent="login">
        <label for="login-email">Email</label>
        <input type="text" class="form__item" id="login-email" v-model="loginForm.email" />

        <label for="login-password">Password</label>
        <input type="text" class="form__item" id="login-password" v-model="loginForm.password" />

        <div class="form__button">
          <button type="submit" class="button button--inverse">Login</button>
        </div>
      </form>
    </div>

    <!-- {{ Registertab }} -->
    <div class="panel" v-show="tab === 2 ">
      <h1 style="height:100px">Register Form</h1>
      <form class="form" @submit.prevent="register">
        <div>
          <label for="register-name">name</label>
          <input type="text" class="form__item" id="register-name" v-model="registerForm.name" />

          <label for="register-email">Email</label>
          <input type="text" class="form__item" id="register-email" v-model="registerForm.email" />
        </div>
        <label for="register-password">Password</label>
        <input
          type="text"
          class="form__item"
          id="register-password"
          v-model="registerForm.password"
        />

        <label for="register-password-check">password_check</label>
        <input
          type="text"
          class="form__item"
          id="register-password-check"
          v-model="registerForm.password_check"
        />

        <div class="form__button">
          <button type="submit" class="button button--inverse">register</button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tab: 1,
      loginForm: {
        email: "",
        password: ""
      },
      registerForm: {
        name: "",
        email: "",
        password: "",
        password_check: ""
      }
    };
  },
  methods: {
    async login() {
      await this.$store.dispatch("auth/login", this.loginForm);
      this.$router.push("/");
    },
    async register() {
      await this.$store.dispatch("auth/register", this.registerForm);
      this.$router.push("/");
    }
  }
};
</script>
