<template>
  <nav class="navbar">
    <RouterLink class="navbar__brand" to="/">
      <span class="navbar__item">username</span>
    </RouterLink>
    <div class="navbar__menu">
      <div class="navbar__item">
        <RouterLink class="button button--link btn-square-shadow" to="/login">Login / Register</RouterLink>
        <RouterLink class="button button--link btn-square-shadow" to="/">Photo booth</RouterLink>
      </div>
      <div class="navbar__item">
        <button class="button">
          <i class="icon ion-md-add"></i>
          Submit a photo
        </button>
      </div>
    </div>
  </nav>
</template>
